# util
sqlalchemy 
h5py 
protobuf 
xlrd
xlwt
xlsxwriter
pyyaml
joblib
beautifulsoup4  # HTML/XML parser
dill  # 使pickle保存更多类型数据
wheel


# math
numpy
pandas
sympy  # 符号运算  可以计算积分、不定积分


# accelerate
cython 
numexpr  # 加速numpy
numba  # 预编译，加速for


# graph
bokeh 
seaborn 
matplotlib


# tool
jupyter 
ipywidgets  # IPython HTML widgets for Jupyter
vincent  # visualization


# ml
sklearn 
scipy 
scikit-learn 
scikit-image 
statsmodels



