# util
cython 
mkl-devel 
wheel
sqlalchemy 
h5py 
tables
protobuf 
xlrd
xlwt
xlsxwriter
pyyaml
joblib
beautifulsoup4  
dill  


# math
numpy
pandas
sympy  


# accelerate
numexpr  
numba  


# graph
bokeh 
seaborn 
matplotlib


# tool
jupyter 
ipywidgets  
vincent  


# ml
sklearn 
scipy 
scikit-learn 
scikit-image 
statsmodels

# test
nose


